@import ".cache/wal/colors-waybar.css";
* {
  transition: 0.2s;
}

window {
  font-family: "Onest", sans-serif;
  margin: 0px;
  /* border: 5px solid #1e1e2e; */
  border: 5px solid @foreground;
  background-color: transparent;
  border-radius: 15px;
}

#input {
  padding: 4px;
  margin: 4px;
  padding-left: 20px;
  border: none;
  /* color: #fff; */
  color: @foreground;
  font-weight: bold;
  /* background-color: #74259a; */
  background-color: @background;
  outline: none;
  border-radius: 9.3px;
  margin: 10px;
  margin-bottom: 2px;
  border: 1px solid @cursor;
}
#input:focus {
  /* border: 1px solid #f274f9; */
  border: 1px solid @color2;
  margin-bottom: 0px;
}

#inner-box {
  margin: 4px;
  padding: 8px;
  /* color: #cdd6f4; */
  color: @foreground;
  font-weight: bold;
  /* background-color: #30073c; */
  background-color: @background;
  border-radius: 9.3px;
}

#outer-box {
  margin: 0px;
  border-radius: 15px;
  /* background-color: #050004; */
  background-color: @background;
  /* border: 1px solid #f274f9; */
  border: 1px solid @color3;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  /* background: rgb(255, 255, 255); */
}

#img:selected {
  /* background-color: #8615ab; */
  background-color: @color1;
  border-radius: 15px;
}

#text:selected {
  /* color: #cdd6f4; */
  color: @foreground;
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  /* background-color: #8615ab; */
  background-color: @color1;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  color: @foreground;
  /* background-color: #8615ab; */
  background-color: @color1;
}
